<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<span id="gravatar-image"><%= gravatar_for @user, size: 100 %></span>
 				<%= @user.name %> 
			</h1>

		</section>
		<section id="back_to_users_link">
			<%= link_to "[Back to User List]", users_path %>
		</section>
	</aside>
</div>