<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-6">
		<section class="user_info">
			<h1>
				<span id="gravatar-image"><%= gravatar_for @user, size: 200 %></span>
 				<%= @user.name %> 
			</h1>
		</section>
	</aside>
</div>